{% extends "base.html" %}
{% load static %}
{% block page_title %}
My Blog
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/includes/blog-common.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/blog-listing.css" %}">
{% endblock %}
{% block content %}
{% include "blog/includes/navigation.html" %}
<section>
    <h2>My Latest Thoughts</h2>
    <ul>
       {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
{% endblock %}